@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);

body {
    font-family: Open sans;
    font-size: 16px;
    background-color: #fff;
    color: #000;
}

.container {
    padding: 0 15px;
    margin: 0 auto;
}

.title {
    font-size: 28px;

}
.filter__btns {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-top: 10px;
}
.filter__btn{
    background-color: transparent;
    border-radius: 8px;
    padding: 2px 6px;
    font-size: 14px;
    cursor: pointer;
    letter-spacing: 1px;
    font-weight: 500;
    border: 2px solid #000;
}

.filter__btn.active-link {
    font-weight: 700;
    border-width: 3px;
}

.product__list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 15px;
}

.product__list li {
    font-weight: 500;
}

.cart__btn {
    position: absolute;
    top: 6px;
    right: 6px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #000;
}

.cart__btn-currency {
    position: absolute;
    top: 31px;
    right: 4px;
    background-color: rgb(155, 66, 66);
    color: #fff;
    border-radius: 50px;
    font-size: 10px;
    padding: 2px 6px;
    opacity: 0;
    transition: .2s linear;
    font-weight: 500;
}

.cart__btn-currency.show {
    opacity: 1;
}

.modal__cart {
    display: none;
    background-color: #00000034;
    position: absolute;
    inset: 0;
    z-index: 5;
    backdrop-filter: blur(4px);
}

.modal__cart.active {
    display: block;
    cursor: pointer;
}

.cart__content {
    background-color: #fff;
    height: 100%;
    width: 400px;
    justify-self: end;
    position: relative;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    z-index: 10;
    cursor: default;
}
.cart__close {
    position: absolute;
    z-index: 10;
    top: 10px;
    right: 6px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.cart__close img {
    width: 16px;
    height: 20px;
}

.title__cart {
    font-size: 28px;
    margin-bottom: 10px;
}

.list__cart {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.bottom__cart-content {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
}
.clear__cart {
    background-color: transparent;
    border-radius: 4px;
    width: 150px;
    padding: 2px 6px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    letter-spacing: 1px;
}
.price__cart {
    font-size: 16px;
    font-weight: 500;
}

.btn__add-cart {
    margin-left: 12px;
    background-color: #fff;
    border-radius: 50px;
    font-weight: 500;
    cursor: pointer;
    width: 20px;
    height: 20px;
    padding: 0;
    padding-bottom: 21px;
    padding: 0 22px 21px 13px;
    transition: .2s linear;
    border: 2px solid #000;
}

.btn__add-cart:hover {
    opacity: .6;
}

.btn__remove-cart {
    margin-left: 10px;
    border-radius: 50px;
    padding: 0;
    width: 22px;
    height: 23px;
    font-size: 13px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    border: 2px solid #000;
}

.cart__content-midlle {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.sort__price-btn {
    background-color: transparent;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 4px;
    border: none;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.logo__sort-btn {
    width: 10px;
    transition: .1s linear;
}

.logo__sort-btn.click {
    transform: rotate(180deg);
}
